<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>TravelJet</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <style>
        #mapContainer {
            width: 100%;
            height: 400px;
            background: grey;
        }
    </style>
    </head>
      <body>

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div
        class="container d-flex align-items-center justify-content-between position-relative"
      >
        <div class="logo">
          <h1 class="text-light">
            <a href="index.html"><span>Traveljet</span></a>
          </h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto active" href="#map">Map</a></li>
            <li><a class="nav-link scrollto" href="#weather">Weather</a></li>
            <li><a class="nav-link scrollto" href="#airports">Airports</a></li>
            <li>
              <a class="nav-link scrollto" href="#hotel">Hotels</a>
            </li>
            <li><a class="nav-link scrollto" href="#attractions">Attractions</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="fade-up">
        <h1>Welcome to TravelJet</h1>
        <h2>
          We make your dreams come true...!!!
        </h2>
        <a href="#about" class="btn-get-started scrollto"
          ><i class="bx bx-chevrons-down"></i
        ></a>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">

      <section id="map">
        <div id="mapContainer"></div>
      </aection>

      <!-- ======= Weather Section ======= -->

            <!-- ======= Team Section ======= -->
            <section id="team" class="team">
              <div class="container">
                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                  <h2>Weather</h2>
                </div>
      
                <div class="row">
                  <div class="col-lg-6">
                    <div class="info-box mb-4">
                      <i class="bx bx-map"></i>
                      <h3><img src="{{ data['weather']['current']['condition']['icon'] }}" class="img-fluid" alt="Weather Image"></h3>
                      <p>{{ data['weather']['location']['name'] }}, {{ data['weather']['location']['region'] }}, {{ data['weather']['location']['country'] }}.</p>
                      <p>{{ data['weather']['location']['localtime'] }}</p>
                      <p>Temperature: {{ data['weather']['current']['temp_c'] }} (<sup>o</sup>C)</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Team Section -->


      <!-- ======= Airports Section ======= -->
      <section id="airports" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Airports</h2>
          </div>

          <div class="row">
            {% for flight in data['flight'] %}

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">{{ flight['name'] }}</a></h4>
                <p class="description">
                  {{ flight['details']['address'] }}
                </p>
                <p class="description">
                  {{ flight['shortName'] }}
                </p>
                <p class="description">
                  {{ flight['details']['grandparent_name'] }}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts section-bg">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="{{ data['count']['hotels'] }}"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Hotels</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="{{ data['count']['airports'] }}"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Nearby airports</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="50"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Nearby attractions</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= Hotels Section ======= -->
      <section id="hotel" class="services">
        <div class="container">
          <div class="section-title aos-init aos-animate" data-aos="fade-in" data-aos-delay="100">
            <h2>Hotels</h2>
          </div>

          <div class="row">
            {% for hotel in data['hotels'] %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box aos-init aos-animate" data-aos="fade-up">
                <div class="icon"><i class="bx bxl-food"></i></div>
                <h4 class="title"><a href="">{{ hotel['hotel_name'] }}</a></h4>
                <p class="description">
                  {{ hotel['address_trans'] }} {{ hotel['district'] }} {{ hotel['city_name_en'] }} 
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <section id="attractions" class="services">
        <div class="container">
          <div class="section-title aos-init aos-animate" data-aos="fade-in" data-aos-delay="100">
            <h2>Attractions</h2>
          </div>

          <div class="row">
            {% set attractions_count = 0  %}
            {% for place in data['attractions'] %}
            {% if place['properties']['name'] != "" %}
            {% set attractions_count = attractions_count + 1 %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box aos-init aos-animate" data-aos="fade-up">
                <div class="icon"><i class="bx bxl-food"></i></div>
                <h4 class="title"><a href="">{{ place['properties']['name'] }}</a></h4>
                <p class="description">
                  {% set kinds = place['properties']['kinds'].split(',') %}
                  {% for kind in kinds %}
                    <span>{{ kind|capitalize }}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row no-gutters">
            <div
              class="content col-xl-5 d-flex align-items-stretch"
              data-aos="fade-up"
            >
              <div class="content">
                <h3>Why us?</h3>
                <a href="#" class="about-btn"
                  >About us <i class="bx bx-chevron-right"></i
                ></a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="bx bx-receipt"></i>
                    <h4>No hidden fees</h4>
                    <p>
                      Get clear price breakdown at every step on the way.
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    <i class="bx bx-cube-alt"></i>
                    <h4>Get more flexibility</h4>
                    <p>
                      Change your travel dates with flexible tickets.
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <i class="bx bx-images"></i>
                    <h4>No data breach</h4>
                    <p>
                      We don't train any AI with your data. Beacuse we don't know how to do so !😅
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >
                    <i class="bx bx-shield"></i>
                    <h4>Search a huge selection</h4>
                    <p>
                      Easily compare wide variety of flights, airlines and prices all in one place
                    </p>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <h3>TravelJet</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>TravelJet</span></strong
          >
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->

    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <script>
      // Initialize the platform

      var data = {{ data['location']|tojson }};
      console.log(data);

      var platform = new H.service.Platform({
          apikey: 'V1ozAOhfIoFWAV1_2LABcJyRwjhNMdguRh6smr1_Cuc' // Replace 'YOUR_API_KEY' with your actual API key
      });

      // Obtain the default map types from the platform object
      var defaultLayers = platform.createDefaultLayers();

      // Instantiate (and display) a map object:
      var map = new H.Map(
          document.getElementById('mapContainer'),
          defaultLayers.vector.normal.map,
          {
              zoom: 11,
              center: { lat: data.latitude, lng:data.longitude}
          }
      );

      // Add a marker to the map
      var marker = new H.map.Marker({lat: data.latitude, lng: data.longitude});
      map.addObject(marker);

      // Add behavior to the map: Zoom in/out with the mouse wheel
      var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

      // Create the default UI components for the map
      var ui = H.ui.UI.createDefault(map, defaultLayers);

      var zoomControl = new H.ui.ZoomControl();
        ui.addControl('zoom', zoomControl);
    </script>

  </body>
</html>
