<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Squadfree Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <style>
      #map {
          height: 400px;
          width: 100%;
      }
  </style>

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div
        class="container d-flex align-items-center justify-content-between position-relative"
      >
        <div class="logo">
          <h1 class="text-light">
            <a href="index.html"><span>Traveljet</span></a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto active" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#flights">Flights</a></li>
            <li><a class="nav-link scrollto" href="#services">Hotels</a></li>
            <li>
              <a class="nav-link scrollto" href="#portfolio">Car Rentals</a>
            </li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="fade-up">
        <h1>Welcome to TravelJet</h1>
        <h2>
          We make your dreams come true...!!!
        </h2>
        <a href="#about" class="btn-get-started scrollto"
          ><i class="bx bx-chevrons-down"></i
        ></a>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row no-gutters">
            <div
              class="content col-xl-5 d-flex align-items-stretch"
              data-aos="fade-up"
            >
              <div class="content">
                <h3>Why us?</h3>
                <a href="#" class="about-btn"
                  >About us <i class="bx bx-chevron-right"></i
                ></a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="bx bx-receipt"></i>
                    <h4>No hidden fees</h4>
                    <p>
                      Get clear price breakdown at every step on the way.
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    <i class="bx bx-cube-alt"></i>
                    <h4>Get more flexibility</h4>
                    <p>
                      Change your travel dates with flexible tickets.
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <i class="bx bx-images"></i>
                    <h4>No data breach</h4>
                    <p>
                      AWe don't train any AI with your data. Beacuse we don't know how to do so !😅
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >
                    <i class="bx bx-shield"></i>
                    <h4>Search a huge selection</h4>
                    <p>
                      Easily compare wide variety of flights, airlines and prices all in one place
                    </p>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      Weather component to be inserted here

      <!-- ======= Airports Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Airports</h2>
          </div>

          <div class="row">
            {% for flight in data['flight'] %}

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">{{ flight['name'] }}</a></h4>
                <p class="description">
                  {{ flight['details']['address'] }}
                </p>
                <p class="description">
                  {{ flight['shortName'] }}
                </p>
                <p class="description">
                  {{ flight['details']['grandparent_name'] }}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <p>
        <div id="map">Map</div>
        <script src="app.js"></script>
      </p>
      
      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts section-bg">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="{{ data['count']['hotels'] }}"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Hotels</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="{{ data['count']['airports'] }}"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Nearby airports</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="1463"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="15"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <h3>TravelJet</h3>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Squadfree</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <script>
      const appId = 'quYzaUC2D07VZzZQYUL5';
      const appCode = 'V1ozAOhfIoFWAV1_2LABcJyRwjhNMdguRh6smr1_Cuc';
      const platform = new H.service.Platform({
          app_id: appId,
          app_code: appCode,
          useHTTPS: true
      });
      const maptypes = platform.createDefaultLayers();

      const map = new H.Map(document.getElementById('map'), maptypes.normal.map, {
          center: { lat: 52.5200, lng: 13.4050 },
          zoom: 10
      });
      const mapEvents = new H.mapevents.MapEvents(map);
      const ui = H.ui.UI.createDefault(map, maptypes);
      const behavior = new H.mapevents.Behavior(mapEvents);
      function addMarker(latitude, longitude, label) {
          const marker = new H.map.Marker({ lat: latitude, lng: longitude });
          if (label) {
              marker.setData(label);
          }
          map.addObject(marker);
      }
      addMarker(40.7128, -74.0060, "New York City");
    </script>

  </body>
</html>
